*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #1f2937;
}

.header-nav{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.container-top{
    display: flex;
    justify-content: flex;
    justify-content: space-around;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding-bottom: 50px;
}

ul{
    display: flex;
    gap: 15px;
    font-size: 18px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

.hero-main{
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary{
    color: white;
}

.header-secondary{
    background-color: red;
}

.container-sub-top{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 8em;
}

.header-image{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 500px;
    height: 200px;
}

button{
    background-color: rgb(9, 119, 236);
    padding: 0 10px;
    color: white;
    margin-top: 10px;
}
